/.idea/
/node_modules/
/*.tgz
/test/
/src/
/coverage/
/.nyc_output/
/tslint.json
/tsconfig.*.json
/.travis.yml
/.nycrc
/webpack.config.js
/yarn.lock
/.releaserc.yml
/git_gpg_keys.asc
/prepare-gpg-key.sh
/git_gpg_keys.asc.enc
